.menu{
    background: rgb(247, 247, 247);
    padding-bottom: 10px;
  }

h2{
    margin-top: 0;
    padding-top: 50px;
    font-size: 45px;
    font-style: italic;
}

input[type="color"] {
	border: none;
	width: 25px;
	height: 25px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient( rgb(207, 207, 207),  #5B5A56 ); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #3C3C41; 
  }

  
/* ACTIONS BUTTON
   =============== */
   .button.menu {
    background: #f3f3f3;
    padding: 5px 20px;
    margin: 10px;
    text-align: center;
    color: black;
    border: 3px solid black;
    transition: all ease 0.25s;
    width: 200px;
    font-family: "Beaufort";
    text-transform: uppercase;
    font-size: 18px;
  }


  .button.menu:hover {
    border: 3px solid grey;
    color: white;
    background: black;
    cursor: pointer;
  }


.button.actions {
    border: 3px solid;
    border-radius: 0;
    background: #f3f3f3;
    transition: all ease .25s;
}

.button.actions:hover {
    border: 3px solid grey;
    color: white;
    background: black;
    cursor: pointer;
}

.labelMargin{
  margin-bottom: 5%;
}

/* LABEL SELECTOR
   =============== */
   .style-chooser{
    margin-bottom: 10px;
   }
.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-menu {
  border: solid black;
  text-transform: lowercase;
  font-variant: small-caps;
}
.style-chooser .vs__selected{
  background: transparent;
  border: transparent;
} 

.radioBtn {
  float: left;
  margin: 40px 20px 50px 0;
  width: 200px;
  height: 40px;
  position: relative;
}
.radioBtn label,
.radioBtn input {
  padding-top: 8px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f3f3f3;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.radioBtn input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.radioBtn#blueSide input[type="radio"]:checked + label {
  background: blue;
  border-radius: 4px;
  color: white;
}
.radioBtn#anySide input[type="radio"]:checked + label {
  background: grey;
  border-radius: 4px;
  color: white;
}
.radioBtn#redSide input[type="radio"]:checked + label {
  background: red;
  border-radius: 4px;
  color: white;
}
.sideSelection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: medium;
}