.menu{
    background: rgb(247, 247, 247);
    padding-bottom: 10px;
  }

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient( rgb(207, 207, 207),  #5B5A56 ); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #3C3C41; 
  }

  
/* ACTIONS
   ========== */
.button.actions {
    border: 3px solid;
    border-radius: 0;
    background: #f3f3f3;
    transition: all ease .25s;
}

.button.actions:hover {
    border: 3px solid grey;
    color: white;
    background: black;
    cursor: pointer;
}